<!DOCTYPE html>
<html>
<head>
    <title>
        Определение
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <h1>BEST HEADER</h1>
        <div class="greeting"> 
        
        @{ 
            HttpCookie cookie = Request.Cookies[WebApplication1.Models.User.CoockieName];
            var text = string.Empty;
            if (cookie != null)
            {
                text = "Привет, " + cookie.Value;
            }
            else
            {
                text = "Привет, гость";
            }
        }
            @text
        </div>
    </div>
    <div>
        <div class="menu">
            <ul>
                <li><a href="/Definition">Определение</a></li>
                <li><a href="/Music">Музыка</a></li>
                <li><a href="/Image">Картинка</a></li>
                <li><a href="/CommentForm">Комментировать</a></li>
                <li><a href="/KINO">фильмы</a></li>
                <li><a href="/KINO/FilmsRecommendations/Index">Подбор</a></li>

            </ul>
        </div>

        <div class="block">
                        @RenderBody()
        </div>
    </div>
    <div class="footer">
        footer
    </div>
</body>
</html> 