body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.header
{
	padding: 10px;
	border: solid;	
	text-align: center;
	border-bottom:none;
	
}
.menu
{
	padding: 10px;
	float: left;
	/*border-left: solid;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;*/
    border: solid;
	width: 30%;
	box-sizing: border-box;
	/*height: 600px;*/
	
}

.block
{
	padding: 10px;
	border-right: solid;
	border-bottom: solid;
	width: 70%;
	float: left;
	box-sizing: border-box;
	/*height: 600px;*/
	text-align: center;
    border: solid;
}
.footer
{
	border: solid;
	text-align: center;
    border: solid;
}
.im {
	border: solid;
	width: 95%;
	height: 95%;
}
.block div {
	vertical-align: middle;
}
.clearfix{
    clear:both;
}