@{
    ViewBag.Title = "Contact";
}


<audio controls>
    <source src="audio/music.ogg" type="audio/ogg; codecs=vorbis">
    <source src="~/Content/music/muz.mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="~/Content/music/muz.mp3">Скачайте музыку</a>.
</audio>
